 <!--makes the navbar reflect active page highlight-->
 <% provide(:about, "active") %>
 <% provide(:title, "About") %>

 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Project Background</h1>
        <p>Here you can find some more detailed information on our project including why we are interested in the characterization and isolation of <i>B. japoniucum</i>, the scientific techniques that we are employing, and additional information regarding our collaborative efforts with the HHS STEM Academy.</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Why <i>Bradyrhizobium japoniucum</i>?</h2>
          <p>Bradyrhizobium japonicum is our bacterium of interest because of its unique ability to form a symbiotic relationship with soybean plants. The bacteria provide the soybean plant with a source of essential nutrients by fixing nitrogen from the atmosphere and then converting it to ammonium for the plant to use. By promoting these symbiotic relationships, soybean plants are able to grow in soils that lack a sufficient source of nitrogen.</p>
          <p>This is significant because a persistent issue in the agricultural industry has been the overuse of nitrogen-enriched fertilizers and the associated consequences of that overuse in the form of pollution. Soybean production in the United States is a booming business and the US is both the world’s leading producer and exporter of soybeans and soybean products. Large-scale pollution from nitrogen enriched fertilizer overuse presents serious issues for local waterways and aquifers that are ill-equipped to process such large amounts of nitrogen, leading to algae blooms and loss of aquatic life</p>
          <p>Allowing farmers the opportunity to greatly reduce or eliminate the the nitrogen-fertilizer use necessary to sustain healthy plant growth and enrich soil in fields used for crop rotation is a significant step in limiting the issues stated above. Therefore our research aimed at developing a better understanding of this symbiotic interaction and the genetic mechanisms by which it is mediated presents important implications for US agriculture as well as other implications within the field of biology.</p>
          <p><a class="btn btn-default" href="#" role="button"> <img src="http://isthmus.com/downloads/23949/download/bitblt-480xNone-c75d327cfd59b92c1dcefc559213ca44c6bf28f6/440NewsSeedling3908.jpg?cb=65d827abb0811d9f50de96b43dd1a401" width="100" height="100" title="Click here to learn more about U.S. soybean industry and the impact fertilizer overuse"></a></p>
        </div>
        <div class="col-md-4">
          <h2>How does the symbiosis take place?</h2>
          <p>Many of the specific processes by which B. japonicum and the soybean plant undergo symbiosis are largely unknown or not fully understood within the scientific community. However, initial stages of the soybean infection by B. japonicum have been well documented and researched. The soybean plant attracts the bacterium via the release of a specific chemoattractant called an isoflavonoid. The bacteria in the soil then progress towards the roots of the soybean. Once they reach the roots they are captured by lateral root hairs which deform into what are called “Shepherd’s crooks”. The bacteria trapped inside these crooks then begin the process of infection whereby they are taken up inside a specialized organ that forms on the plant roots, unique to the soybean plant, that are referred to as nodules. As this nodule expands, the bacteria then differentiate into bacteroids that are capable of fixing atmospheric nitrogen for the plant to use. By providing the plant with a source of nutrients, the bacteria are afforded protection within the nodule as well as a steady supply of carbon.</p>
          <p>While the study of more complex mechanisms of this infection are outside of the scope of this project; the main questions guiding our research concern two symbiotic genes that mediate the bacterium’s infection of the soybean roots: fegA and ecfs. What we wish to determine is if either fegA or ecfs is the predominant mechanism by which this symbiosis occurs. Additionally, we want to compare how the strains of B. japonicum that we have isolated in the lab will compete with wild-type strains that we obtain and isolate from soil collected from rural farmland, including fields used to cultivate soybeans, surrounding James Madison University.</p>
          <p><a class="btn btn-default" href="#" role="button"> <img src="https://europeangreens.eu/sites/europeangreens.eu/files/resize/shutterstock_114370660-300x240.jpg" width="100" height="100" title="Click here for more information about FegA and ecfs"></a></p>
       </div>
        <div class="col-md-4">
          <h2>HHS STEM Academy Collaboration</h2>
          <p>This project also serves as an opportunity to engage the academic community around James Madison University by providing local area high school students the opportunity to participate in ‘Citizen Science’. This initiative was undertaken on the part of Dr. Stockwell in partnership with Mr. Myron Blosser of the HHS STEM Academy. By learning soil collection and microbe isolation techniques, these high school students’ contributions of microbial isolations will help the researchers’ genomic library grow while having an opportunity to learn new skills and become exposed to real scientific field work.</p>
          <p>This presents a powerful learning experience, a rare opportunity to participate in college-level research and the potential to inspire students to pursue education and/or careers in biotechnology. This symbiotic relationship between college and high school students embodies a critical focus of the ISAT program; solving real world problems by integrating research, teaching and collaboration.</p>
          <p>Because the HHS STEM students can focus their efforts on soil sample collection, seed inoculations and plant harvesting; the ISAT researchers can take a more complete ownership of their project by allowing them to delve in, and devote more time to, more complex genetic analyses. In addition, there is a real opportunity for the senior capstone students to receive practice, and become comfortable with, service based learning. This can come in the form of creating lab protocols to guide the citizen scientists in their sample collection and verification, producing interactive video demonstrations that provide an in-depth look at some of the advanced equipment and techniques being used in the JMU Sciences Program. Given the ambitious plans for expansion of research, including Citizen Science outreach, there is the potential for an exponential increase in interest and participation in this research program on the part of senior capstone researchers.</p>
          <p><a class="btn btn-default" href="http://localhost:3000/contact" role="button"><img src="http://farm9.static.flickr.com/8245/8495642068_9ccd5817cb_m.jpg" width="100" height="80" title="Click here to learn more about our research team and how to contact us"></a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2015 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->