<!DOCTYPE html>
<html>
<head>
</head>
<body>
 <!--makes the navbar reflect active page highlight-->
<% provide(:gallery, "active") %>
<% provide(:title, "Gallery") %>
 <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
      <div class="container">
        <h1>Project Gallery</h1>
        <p>Take a look at the images that we have collected over the course of our project. More soon to come!.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
  </div>
  <style>
</style>
</head>
<body>

</body>
</html>
</body>
