 
 <!--makes the navbar reflect active page highlight-->
<% provide(:home, "active") %>
<% provide(:title, "Home") %>

 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome!</h1>
        <p>On behalf of Dr. Stockwell and her research team within James Madison University’s College of Integrated Science and Engineering, thank you for visiting our site dedicated to content related to our ongoing research involving the isolation and genetic characterization of  strains of the benficial bacterium, <i>Bradyrhizobium japonicum</i>.</p> 

		<p>Our goal for this research is to develop a better understanding of <i>Bradyrhizobium japonicum</i> specifically, the mechanisms by which it forms a symbiotic relationship with soybeans. We also wish to further develop our educational collaboration with the STEM Academy of Harrisonburg High School as part of a Citizen Science outreach that comprises a major portion of this project. In addition to providing meaningful educational opportunities for prospective biologists at the high school level, our partnership with the HHS STEM Academy provides our research team with an increased sample output from the field.</p>

<p>The purpose of this site is to be a source of informative material for interested students and instructors as well as a public record for archived and current contributions to our research. Click the links in the table below for more information</p>
</div>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th>Students:</th>
        </tr>
      </thead>
      <tbody class="bg-info">
        <tr>
          <td>Project Methodologies</td>
        </tr>
        <tr>
          <td>Instructional Media</td>
        </tr>
        <tr>
          <td>Project Goals and Background Information</td>
        </tr>
      </tbody>
    </table>
</div>

<div class="row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th>Instructors:</th>
        </tr>
      </thead>
      <tbody class="bg-info">
        <tr>
          <td>Procedure and Preparatory Notes</td>
        </tr>
        <tr>
          <td>Project Information and Important Timelines</td>
        </tr>
         <tr>
          <td>Necessary Materials</td>
        </tr>
      </tbody>
    </table>
</div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Helpful Media</h2>
          <p>Here you can find . </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2016 BJapBioTechLab</p>
      </footer>
    </div> <!-- /container -->